<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('admin_news_category') }}">
            <i class="icon-list"></i> {% trans from 'admin'%}Back to list categories{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_news_item_new', { 'category_id' : category_id}) }}">
            <i class="icon-plus"></i> {% trans from "admin" %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>