{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans from "admin"%}News Item list{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin"%}News Item list{% endtrans %}{% endblock %}

{% block content %}
    <table class="records_list table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans from "admin" %}Title{% endtrans %}</th>
                <th>{% trans from "admin" %}Alias{% endtrans %}</th>
                <th>{% trans from "admin" %}Date of publication{% endtrans %}</th>
                <th>{% trans from "admin" %}Is_active?{% endtrans %}</th>
                <th>{% trans from "admin" %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.alias }}</td>
                <td>{% if entity.publish %}{{ entity.publish|date('d-m-Y') }}{% endif %}</td>
                <td>{% include "NewsBundle:NewsItem:_labelActive.html.twig" %}</td>
                <td>{% include "NewsBundle:NewsItem:_listItemActions.html.twig" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "NewsBundle:NewsItem:_pagination.html.twig" %}
{% endblock %}

{% block sidebar %}
    {% include "NewsBundle:NewsItem:_listActions.html.twig" %}
{% endblock %}
