<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="#filterCallbackModal" role="button" data-toggle="modal">
            <i class="icon-filter"></i> {% trans from "admin" %}Filter{% endtrans %}
        </a>
    </li>
</ul>
