<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('admin_mailingaddress_new') }}">
            <i class="icon-plus"></i> {% trans from "admin" %}Create a new entry{% endtrans %}
        </a>
    </li>
    <li>
        <a href="#filterEmailModal" role="button" data-toggle="modal">
            <i class="icon-filter"></i> {% trans from "admin" %}Filter{% endtrans %}
        </a>
    </li>
</ul>
