<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('admin_content_new') }}">
            <i class="icon-plus"></i> {% trans from 'admin' %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
