<a{% for attr, value in options %}
    {% if attr != 'title'%}
    {{ attr }}="{{ value }}"
    {% endif %}
{% endfor %}>
    {{title|trans}}
    {% if(options['class'] == 'desc')%}
        <i class="icon-arrow-up icon-white"></i>
    {% endif %}
    {% if(options['class'] == 'asc')%}
        <i class="icon-arrow-down icon-white"></i>
    {% endif %}
</a>
