{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans from "admin" %}Catalog list{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin" %}Catalog list{% endtrans %}{% endblock %}

{% block content %}
    <table class="records_list table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans from "admin" %}Title{% endtrans %}</th>
                <th>{% trans from "admin" %}Catalog type{% endtrans %}</th>
                <th>{% trans from "admin" %}Alias{% endtrans %}</th>
                <th>{% trans from "admin" %}Is active?{% endtrans %}</th>
                <th>{% trans from "admin" %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><span style="padding-left: {{(entity.level) * 30}}px">{{ entity.title }}</span></td>
                <td>{{ entity.catalogType.name}}</td>
                <td>{{ entity.alias }}</td>
                <td>
                    {% include "CatalogBundle:Catalog:_labelActive.html.twig" with {'entity':entity} %}
                </td>
                <td>
                    {% include "CatalogBundle:Catalog:_listItemActions.html.twig" with {'entity' : entity, 'delete_form' : delete_form}%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    {% include "CatalogBundle:Catalog:_pagination.html.twig" %}
    {% include "CatalogBundle:Catalog:_filterForm.html.twig" %}
{% endblock %}

{% block sidebar %}
    {% include "CatalogBundle:Catalog:_listActions.html.twig" %}
{% endblock %}