<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('admin_image_gallery_category_new') }}">
            <i class="icon-plus"></i> {% trans from "admin" %}Create a new gallery{% endtrans %}
        </a>
    </li>
</ul>
