{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans from "admin"%}Menu list{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin"%}Menu list{% endtrans %}{% endblock %}

{% block content %}
<table class="records_list table table-condensed table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans from "admin"%}Name{% endtrans %}</th>
            <th>{% trans from "admin"%}Alias{% endtrans %}</th>
            <th>{% trans from "admin"%}Is active?{% endtrans %}</th>
            <th>{% trans from "admin"%}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.alias }}</td>
            <td>{% include "MenuBundle:Menu:_labelActive.html.twig" with {'entity':entity} %}</td>
            <td style="width: 307px">
                {% include "MenuBundle:Menu:_listItemActions.html.twig" with {'entity' : entity, 'delete_form' : delete_form}%}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block sidebar %}
    {% include "MenuBundle:Menu:_listActions.html.twig" %}
{% endblock %}