<li class="file_box">
    <table>
        <tr>
            <td>{{ form_raw(file.file) }}</td>
            <td>{{ form_raw(file.description) }}</td>
            <td class="button_box"></td>
        </tr>
    </table>
</li>
