<div class="row-fluid">
    <div class="span4 text_center"><a href="{{"/"|localeLink}}"><img src="/images/small_logotype.png" alt="wifinder"/></a></div>
    <div class="span8">{% render(controller( "FrontendContentBundle:Menu:bottomMenu", {"alias" : "footer"})) %}</div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div>
            <p>©2003-{{ "now"|date("Y") }}. {% trans from 'content'%}All rights reserved.{% endtrans %}<br/>{% trans from 'content'%}Ltd. “Wifinder”.{% endtrans %}</p>
        </div>
        <div>
{#            {% render(controller( "FrontendContentBundle:Mailer:newSubscribe")) %}#}
            <div class="clear"></div>
        </div>
        <div id="join">
            {#<div class="align_left"><p>{% trans from 'content'%}Join{% endtrans %}</p></div>
            <div class="align_right yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>#}
            <div class="clear"></div>
        </div>
    </div>
    <div class="span8">
        <div class="span5">
            {% render(controller( "FrontendContentBundle:WebItem:renderItem", {"alias" : "footer"})) %}
        </div>
        {#<div class="span7">
            <a href="/contacts" role="button" data-toggle="modal" title="{% trans from 'content'%}Location on the map{% endtrans %}">
                <img alt="map" src="/images/map.jpg" />
            </a>
        </div>#}
        {#<div id="mapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{% trans from 'content'%}Location on the map{% endtrans %}</h3>
            </div>
            <div class="modal-body">
                <div id="map_canvas">&nbsp;</div>
            </div>
        </div>#}
    </div>
</div>