<form action="{{ path('frontend_search_catalog') }}" method="post" {{ form_enctype(form) }}>
    <div class="input-append">
    {{form_widget(form.text)}}
       <span class="add-on"><i class="icon-search"></i></span>
    </div>
    {{form_widget(form._token)}}
</form>
