<p>Уважаемый владелец электронного адреса {{email}}</p>

<p>Мы получили запрос о добавлении электронного адреса {{email}} в<br/> 
в рассылку новостей от компании Wifinder. Чтобы подтвердить свой запрос, нажмите эту ссылку:</p>

<p>{{host}}{{ path ("frontent_mailer_confirm_mail", {'id': id, 'confirmCode': confirmCode})}}</p>

<p>Если эта ссылка не работает, откройте новое окно браузера, а затем <br/>
скопируйте и вставьте URL-адрес в адресную строку.</p>

<p>Если вы получили это сообщение по ошибке, не предпринимайте никаких<br/> 
действий. Если вы не нажмете эту ссылку, то адрес не будет добавлен в <br/>
рассылку.</p>

<p>С уважением,<br/>
ООО «ВАЙФАЙНДЕР»</p>
